--extra-index-url https://download.pytorch.org/whl/cu113
carabiner-tools[pd]>=0.0.4
duvida[chem] @ git+https://github.com/scbirlab/duvida@f5b1144
gradio==5.23.1
nemony
numpy
schemist>=0.0.4.post1
torch